.mainGame {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.bgTriangle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  
}

@media (max-width: 500px) {
  .bgTriangle {
    width: 70%;
  }
}
