.mainGame {
  width: 450px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.bgTriangle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
